.login{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50% , -50%);
  margin-top: 200px;
  background-color: rgba(20, 100, 100, 0.664);
  color: rgb(255, 255, 255);
  width: 300px;
  border-radius: 30px;
  text-align: center;
}

.but{
  border-radius: 10px;
  background-color: rgb(16, 219, 219);
  width: 70px;
  height: 35px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(135deg, #92fe9d 0% , #00c9ff 100%);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  margin-top: 500px;
}

.text-footer{
  color: rgb(0, 0, 0); 
  padding-top: 15px;
}

.footer-link{
  text-decoration: none; 
  color: rgb(0, 0, 0);
}

.footer-link:hover{
  background-color: rgb(0, 0, 0);
  color : rgb(255, 255, 255);
}

/* .body{
  background: url(img/back.png);
} */

.body {
  background-image: url('img/back.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; /* یا cover بسته به نیاز شما */
  background-attachment: fixed; /* اختیاری - برای ثابت ماندن پس‌زمینه */
  
  /* برای پشتیبانی از مرورگرهای مختلف */
  height: 100vh;
  width: 100%;
}

.img{
  opacity: 0.90;
}

.cart{
  background: linear-gradient(135deg,#00c8ff86  0% ,#92fe9d71  100%);
}

.cart-back1{
  background-color:rgba(255, 255, 255, 0) ;
}

.cart-back{
  background-color:rgba(255, 255, 255, 0.356) ;
}
